# ==============================================
# MTK Policy Rule
# ==============================================

type aal_als_device, dev_type;
type accdet_device, dev_type;
type aed_device, dev_type;
type agps_device, dev_type;
type als_ps_device, dev_type;
type android_device, dev_type;
type BOOT_device, dev_type;
type btif_device, dev_type;
type camera_fdvt_device, dev_type;
type camera_isp_device, dev_type;
type CAM_CAL_DRV_device, dev_type;
type ccci_device, dev_type;
type ccci_monitor_device, dev_type;
type cpu_dma_latency_device, dev_type;
type devmap_device, dev_type;
type expdb_block_device, dev_type;
type fm_device, dev_type;
type gsensor_device, dev_type;
type gsm0710muxd_device, dev_type;
type gyroscope_device, dev_type;
type hotknot_device, dev_type;
type hwmsensor_device, dev_type;
type icusb_device, dev_type;
type irtx_device, dev_type;
type kd_camera_flashlight_device, dev_type;
type kd_camera_hw_bus2_device, dev_type;
type kd_camera_hw_device, dev_type;
type logo_block_device, dev_type;
type loop-control_device, dev_type;
type MAINAF_device, dev_type;
type mdlog_device, dev_type;
type misc2_block_device, dev_type;
type misc_sd_device, dev_type;
type fingerprint_device, dev_type;
type msensor_device, dev_type;
type mtgpio_device, dev_type;
type mtk-adc-cali_device, dev_type;
type mtk_kpd_device, dev_type;
type mtk_sched_device, dev_type;
type MTK_SMI_device, dev_type;
type m_acc_misc_device, dev_type;
type m_mag_misc_device, dev_type;
type network_device, dev_type;
type nvdata_device, dev_type;
type nvram_device, dev_type;
type offloadservice_device, dev_type;
type para_block_device, dev_type;
type persist_block_device, dev_type;
type pmic_ftm_device, dev_type;
type ptyp_device, dev_type;
type RT_Monitor_device, dev_type;
type seccfg_block_device, dev_type;
type secro_block_device, dev_type;
type spm_device, dev_type;
type stpbt_device, dev_type;
type stpgps_device, dev_type;
type stpwmt_device, dev_type;
type SUBAF_device, dev_type;
type sw_sync_device, dev_type;
type tee_block_device, dev_type;
type touch_device, dev_type;
type tpd_em_log_device, dev_type;
type ttyGS_device, dev_type;
type ttyMT_device, dev_type;
type ttyp_device, dev_type;
type uinput_device, dev_type;
type Vcodec_device, dev_type;
type wmtdetect_device, dev_type;
type wmtWifi_device, dev_type;
type xlog_device, dev_type;
type xt_qtaguid_device, dev_type;
type zram0_device, dev_type;
type flashinfo_block_device, dev_type;
type keystore_block_device, dev_type;
type lk_block_device, dev_type;
type lk2_block_device, dev_type;
type md1arm7_block_device, dev_type;
type md1dsp_block_device, dev_type;
type md1img_block_device, dev_type;
type md3img_block_device, dev_type;
type oemkeystore_block_device, dev_type;
type ppl_block_device, dev_type;
type protect1_block_device, dev_type;
type protect2_block_device, dev_type;
