# ==============================================
# Policy File of /system/bin/statusd Executable File 

type statusd_exec, exec_type, file_type;
type statusd, domain;

# permissive statusd;

init_daemon_domain(statusd)

# property service
allow statusd system_prop:property_service set;
allow statusd system_radio_prop:property_service set;
allow statusd persist_ril_prop:property_service set;
allow statusd ril_mux_report_case_prop:property_service set;
allow statusd cdma_prop:property_service set;
auditallow statusd net_radio_prop:property_service set;
auditallow statusd system_radio_prop:property_service set;

#Search permission for findPidByName
allow statusd domain:dir search;
